asttokens==2.4.1
blinker==1.7.0
click==8.1.7
comm==0.2.2
contourpy==1.2.1
cycler==0.12.1
dataclasses-json==0.6.4
decorator==5.1.1
Deprecated==1.2.14
diffusers==0.20.2
einops==0.7.0
entrypoints==0.4
exceptiongroup==1.2.1
executing==2.0.1
Flask==3.0.3
fonttools==4.51.0
fsspec==2024.3.1
ftfy==6.2.0
huggingface-hub==0.22.2
imageio==2.34.1
importlib_metadata==7.1.0
importlib_resources==6.4.0
ipycanvas==0.13.2
ipyevents==2.0.2
ipython==8.18.1
ipywidgets==8.1.2
itsdangerous==2.2.0
jedi==0.19.1
jupyter_client==7.4.9
jupyter_core==5.7.2
jupyterlab_widgets==3.0.10
kaolin==0.15.0
kiwisolver==1.4.5
loguru==0.7.2
marshmallow==3.21.1
matplotlib==3.8.4
matplotlib-inline==0.1.7
mkl-service==2.4.0
mypy-extensions==1.0.0
nest-asyncio==1.6.0
ninja==1.11.1.1
opencv-python==4.9.0.80
packaging==24.0
parso==0.8.4
pexpect==4.9.0
platformdirs==4.2.1
prompt-toolkit==3.0.43
ptyprocess==0.7.0
pure-eval==0.2.2
pybind11==2.12.0
pygltflib==1.16.2
Pygments==2.17.2
pyparsing==3.1.2
pyrallis==0.3.1
python-dateutil==2.9.0.post0
pyzmq==24.0.1
regex==2024.4.16
safetensors==0.4.3
scipy==1.13.0
six==1.16.0
stack-data==0.6.3
torch==2.1.1
torchaudio==2.1.1
torchvision==0.16.1
tornado==6.4
tqdm==4.66.2
traitlets==5.14.3
triton==2.1.0
typing-inspect==0.9.0
usd-core==23.5
wcwidth==0.2.13
Werkzeug==3.0.2
widgetsnbextension==4.0.10
wrapt==1.16.0
xatlas==0.0.9
zipp==3.18.1
